$content_h: calc(100vh - 396px);

$color_primary: rgb(50, 115, 220);
$green: #1cca63;
$dark: #242424;
$red: #ca2b2e;
$light: lightgrey;

.hero-body {
  background-color: $color_primary;
}

.hero-foot {
  background-color: $color_primary;
}

#nav {
  background-color: whitesmoke;
}

// Push footer at bottom
#content {
  margin: 12px 0px;
  min-height: calc(100vh - 396px);
}
.playzone {
  left: 12px;
  margin: 50px auto 30px auto;
}

#content, #content_container{
  min-height: $content_h;
}

.game_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game_panel_reset_container {
  align-items: end;
}

#game_panel_reset_button {
  border-radius: 4px;
}

#game_panel_score {
  font-size: 11vmax;
  align-self: stretch;
}

.game_panel_score_players {
  display: inline-block;
}


.game_board {
  display: grid;
  margin: auto 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  max-height: 500px;
  max-width: 500px;
}

.game_board>.game_board_cell {
  border: 1px solid $light;
  position: relative;
}

.game_board>.game_board_cell:before {
  display: table;
  padding-top: 100%;
  content: '';
}

.game_board_cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  font-size: 12vh;
}
.game_board_cell__pop {
  animation: pop 0.3s linear 1;
}

.game_board_cell__win {
   background-color: $green;
 }

.game_board_cell__lose {
  background-color: $red;
}

.game_board_cell__draw {
  background-color: $light;
}

@keyframes pop{
  50%  {transform: scale(1.1);}
}

.game_panel_article {
  padding: 30px 50px;
  font-size: 1.3em;
  text-align: justify;
}

#rules_game_panel {
  background-color: whitesmoke;
}

#rules_progressbar_container {
  padding: 10px 20px;
}


.footer {
  margin-bottom: 0px;
  background-color: $dark;
  font-size: 1em;
}

.footer_link {
  text-align: center;
}

.footer_icon {
  font-size: 1.5em;
}

.is-center {
  margin: 10px auto 20px;
}

.list_unstyle>li {
  list-style: none;
}

.card {
  height: 100%;
}

.card-image {
  padding: 10px 0px;
  background-color: whitesmoke;
}